/*Generale Style*/

* {
    box-sizing: border-box;
}

body {
    background-image: url(../img/bg-body.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.sections {
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
}


/**Global classes**/

.section-title {
    position: relative;
    margin: 0px 0px 55px 0px;
    font-size: 34px;
    text-align: center;
    margin-bottom: 50px!important;
    font-weight: 300;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: transparent;
}

a,
span,
h1 h2,
h3,
h4,
h6,
tr,
td,
label,
li,
ol {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.carousel-caption h5,
p {
    font-family: 'Cinzel', serif;
}


/*Nav-bar*/

.carousel {
    background: #eee;
}

.carousel-cell {
    height: 95vh;
    background: no-repeat center center scroll;
    background-size: cover;
    counter-increment: carousel-cell;
    display: block;
}

.carousel-cell img {
    filter: brightness(0.4);
    width: 1700px;
    height: 1300px;
}

.carousel-caption {
    bottom: 220px;
    text-shadow: 0 2px 3px black;
}

.carousel-caption h5 {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.carousel-caption p {
    width: 450PX;
    margin: auto;
    font-size: 25px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.90);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    color: #808284!important;
    padding: 0;
}

.navbar-nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 23px;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Cinzel', serif;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #b191b1!important;
}

.navbar-brand {
    font-size: 23px;
}

.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    text-decoration: none;
    text-decoration-style: wavy;
    font-size: 15px;
    padding: 15px 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
    border-bottom: solid #b191b1 3px;
    padding-bottom: 12px;
    transition: border 0.4s;
}

.container6 {
    padding: 0 100px;
}


/*About*/

.about {
    background-color: rgba(245, 242, 246, 0.98);
    padding: 60px 0px 40px 0px;
    border-bottom: solid #ececec 2px;
}

.about .section-title {
    color: #375D81;
}

.paragraphe {
    font-style: oblique;
    font-size: large;
}

.rounded-circle {
    width: 250px;
}

#button {
    background-color: rgb(230, 187, 219);
    color: rgb(47, 44, 47);
    border: white;
    font-style: italic;
    margin-top: 3%;
    border-radius: 26%;
}


/*competences*/

.sections.skills {
    background-color: rgb(255, 255, 255);
    padding: 60px 0px 75px 0px;
}

.skills .section-title {
    color: #375D81;
}

.card {
    border: none;
    background-color: transparent!important;
}

.progress {
    height: 10px;
}

.progress .progress-bar {
    width: 0;
    transition: all ease 0.5s;
    height: 10px;
}


/*study*/

.sections.study {
    padding: 75px 0px 40px 0px;
    background-color: rgba(245, 242, 246, 0.98);
}

#study-title {
    margin-bottom: 5%;
}


/*SECTION INTERETS*/

.sections.hobbies {
    padding: 75px 0px 40px 0px;
    background-color: rgb(255, 255, 255);
}

.interet {
    flex: 0 1 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
    display: inline-block;
    padding: 20px;
}

.interet img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #555;
}


/*SECTION Contact*/

.sections.contact {
    position: relative;
    background-image: url(../img/PHONE.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.sections.contact .inner {
    background-color: rgba(0, 0, 0, .8);
    padding-top: 103px;
    padding-bottom: 60px;
}

.sections.contact .section-title {
    margin: 0px 0px 30px 0px;
    font-size: 34px;
    text-align: center;
    color: #fff;
}

#logo {
    background-color: white;
    border-radius: 30%;
}

#logo1 {
    background-color: white;
    border-radius: 50%;
}

.sections.contact .contact-section p,
.sections.contact .contact-section li,
.sections.contact .contact-section span {
    color: #b1b1b1!important;
}

.contact-section .contact-warp {
    position: relative;
    z-index: 2;
}

.align {
    text-align: left;
    margin-left: 10%;
}


/* *************************           Foot Bas           ******************************************/

#foot-bottom {
    color: #fff;
    background-color: #373737;
    padding: 15px 0px;
}

#foot-bottom {}

#foot-bottom .foot-text2 a {
    text-decoration: none;
    float: right;
    color: #fff;
    font-size: 12px;
}

#foot-bottom .container .foot-text1 {
    color: #fff;
    font-size: 12px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .carousel-caption {
        margin-bottom: 250px;
        font-size: 50px;
    }
    .navbar-nav li {
        text-align: center;
    }
    .nav-link {
        font-size: 25px;
    }
    #about .titre-about {
        padding: 0;
        font-size: medium;
        display: inline;
    }
    .container6 .paragraphe {
        margin-right: 300px;
        width: max-content;
    }
    .align li {
        font-size: medium;
    }
    .nav-link {
        font-size: 23px;
    }
}

@media all and (max-device-width: 480px) {
    .navbar-toggler {
        display: none;
    }
    .navbar-brand {
        font-size: 18px;
    }
    .carousel-caption {
        margin-bottom: 70px;
    }
    .carousel-caption #base {
        font-size: 28px;
    }
    .carousel-caption h5 {
        font-size: 35px;
    }
    .carousel-caption p {
        font-size: 13px;
        width: 200px;
    }
    #about .section-title {
        text-align: center;
    }
    #bouton {
        margin-right: 0;
    }
    .rounded-circle {
        width: 200px;
        height: 200px;
    }
    .section-header h2 {
        margin-top: 20px;
    }
    #logo-contact {
        width: 250px;
    }
}

@media only screen and (max-width: 320px) {
    .carousel-caption {
        margin-bottom: 0;
    }
    .study {
        margin-top: 90px;
    }
}